<article>
  <a href="">
    <img src="/example-thumbnail.jpg" alt="Project image">
    <div class="content">
      <h3>Aplicación de Mapas Geológicos</h3>
      <p>Herramienta web para visualizar datos de campo y modelos 3D de estratigrafía, desarrollada con React y Three.js.</p>
      <div class="separator"></div>
      <ul class="stack">
        <li>HTML</li>
        <li>CSS</li>
        <li>React</li>
        <li>Three.js</li>
      </ul>
    </div>
  </a>
</article>


<style>

article {
  width: 90%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*
a, a > *, a > * > * {
  border: 1px solid var(--color-text);
}
*/

img {
  border-radius: var(--br-md, 0.5rem);
  object-fit: cover;
  aspect-ratio: 5 / 2;
}

h3 {
  margin: auto;
}

.separator {
  height: 1px;
  background-color: var(--color-text);
  margin: 1rem 0;
}

.stack {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.stack li {
  font-size: var(--fs-small);
}

@media (min-width: 800px) {
  a {
    display: flex;
    flex-direction: row;
  }

  img {
    aspect-ratio: 16 / 9;
    width: 350px;
    height: auto;
  }
}

</style>
