<div class="hero">
  <h1>Hey, I'm Alex</h1>
  <p>Web Developer</p>
</div>

<style>
  .hero {
    --fs-h1: clamp(2.5rem, 5vw, 4rem);
    --fs-h2: calc(var(--fs-h1) * 0.8);
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }
  p {
    font-size: var(--fs-h2);
    font-family: var(--font-titles);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
  }
</style>
