---
import HeaderActions from "../ui/HeaderActions.astro";

---

<header>
  <nav>
    <a href="">Blog</a>
    <span>&gt;</span>
    <a href="">Blog-post</a>
  </nav>
  <HeaderActions />
</header>

<style>
  header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>