---
import DefaultLayout from '../../../layouts/DefaultLayout.astro';

import { getCollection } from 'astro:content';

const all = await getCollection('blog');
const posts = all
  .filter((e) => e.data.lang === 'en' && e.data.published)
  .sort((a, b) => {
    const da = a.data.date ? new Date(a.data.date).getTime() : 0;
    const db = b.data.date ? new Date(b.data.date).getTime() : 0;
    return db - da;
  });
---
<DefaultLayout>
  <h1>Blog</h1>
  {posts.length === 0 ? (
    <p>No posts yet.</p>
  ) : (
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/en/blog/${post.data.slug}`}>{post.data.title}</a>
          {post.data.excerpt && <p>{post.data.excerpt}</p>}
        </li>
      ))}
    </ul>
  )}
</DefaultLayout>
