<ul>
  <li><a href="https://github.com/yourprofile">
    <svg class="icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="GitHub">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0132 0C7.15833 0 0 7.2111 0 16.1322C0 23.2633 4.58659 29.2997 10.9494 31.4362C11.7449 31.5968 12.0363 31.089 12.0363 30.6619C12.0363 30.2879 12.0101 29.006 12.0101 27.6703C7.5556 28.632 6.62799 25.7472 6.62799 25.7472C5.91212 23.8776 4.85143 23.3971 4.85143 23.3971C3.39348 22.4088 4.95763 22.4088 4.95763 22.4088C6.57489 22.5157 7.4235 24.0648 7.4235 24.0648C8.85491 26.5218 11.1615 25.8276 12.0894 25.4001C12.2218 24.3585 12.6463 23.6373 13.097 23.2368C9.54422 22.8628 5.80625 21.474 5.80625 15.2774C5.80625 13.5146 6.44214 12.0724 7.44973 10.9507C7.29075 10.5502 6.73386 8.89391 7.60903 6.67715C7.60903 6.67715 8.96111 6.24973 12.0098 8.33309C13.315 7.97996 14.6611 7.80032 16.0132 7.79881C17.3653 7.79881 18.7436 7.98597 20.0164 8.33309C23.0654 6.24973 24.4175 6.67715 24.4175 6.67715C25.2926 8.89391 24.7354 10.5502 24.5764 10.9507C25.6106 12.0724 26.2202 13.5146 26.2202 15.2774C26.2202 21.474 22.4823 22.8359 18.9029 23.2368C19.4864 23.7442 19.9898 24.7056 19.9898 26.2281C19.9898 28.3914 19.9636 30.1277 19.9636 30.6616C19.9636 31.089 20.2553 31.5968 21.0505 31.4365C27.4133 29.2994 31.9999 23.2633 31.9999 16.1322C32.0261 7.2111 24.8416 0 16.0132 0Z"
      fill="currentColor"/>
    </svg>
  </a></li>

  <li><a href="https://linkedin.com/in/yourprofile">
    <svg class="icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="LinkedIn">
      <path d="M29.6378 0H2.36222C1.73572 0 1.13488 0.248877 0.691879 0.691879C0.248877 1.13488 0 1.73572 0 2.36222V29.6378C0 30.2643 0.248877 30.8651 0.691879 31.3081C1.13488 31.7511 1.73572 32 2.36222 32H29.6378C30.2643 32 30.8651 31.7511 31.3081 31.3081C31.7511 30.8651 32 30.2643 32 29.6378V2.36222C32 1.73572 31.7511 1.13488 31.3081 0.691879C30.8651 0.248877 30.2643 0 29.6378 0ZM9.53778 27.26H4.72667V11.9778H9.53778V27.26ZM7.12889 9.86C6.58315 9.85693 6.05055 9.69226 5.59831 9.38678C5.14607 9.08131 4.79445 8.64871 4.58784 8.14359C4.38122 7.63846 4.32886 7.08346 4.43738 6.54861C4.54589 6.01376 4.8104 5.52304 5.19754 5.13838C5.58468 4.75372 6.07709 4.49236 6.61262 4.38728C7.14816 4.28221 7.70282 4.33812 8.2066 4.54798C8.71039 4.75784 9.14072 5.11222 9.44329 5.56642C9.74585 6.02061 9.9071 6.55426 9.90667 7.1C9.91182 7.46538 9.84335 7.82805 9.70535 8.16641C9.56735 8.50476 9.36264 8.81187 9.10343 9.06942C8.84421 9.32698 8.5358 9.52971 8.19657 9.66553C7.85733 9.80136 7.49423 9.86749 7.12889 9.86ZM27.2711 27.2733H22.4622V18.9244C22.4622 16.4622 21.4156 15.7022 20.0644 15.7022C18.6378 15.7022 17.2378 16.7778 17.2378 18.9867V27.2733H12.4267V11.9889H17.0533V14.1067H17.1156C17.58 13.1667 19.2067 11.56 21.6889 11.56C24.3733 11.56 27.2733 13.1533 27.2733 17.82L27.2711 27.2733Z"
      fill="currentColor"/>
    </svg>
  </a></li>

  <li><a href="https://x.com/yourprofile">
    <svg class="icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="X (formerly Twitter)">
      <path d="M24.435 2.53857H28.933L19.1063 13.7699L30.6666 29.0532H21.615L14.5254 19.784L6.41324 29.0532H1.91256L12.4232 17.04L1.33331 2.53857H10.6148L17.0232 11.011L24.435 2.53857ZM22.8564 26.3609H25.3488L9.26051 5.08942H6.58593L22.8564 26.3609Z"
      fill="currentColor"/>
    </svg>

  </a></li>

  <li><a href="https://youtube.com/yourprofile">
    <svg class="icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="YouTube">
      <path d="M31.6812 9.60002C31.6812 9.60002 31.3688 7.39377 30.4062 6.42502C29.1875 5.15002 27.825 5.14377 27.2 5.06877C22.725 4.74377 16.0063 4.74377 16.0063 4.74377H15.9937C15.9937 4.74377 9.275 4.74377 4.8 5.06877C4.175 5.14377 2.8125 5.15002 1.59375 6.42502C0.63125 7.39377 0.325 9.60002 0.325 9.60002C0.325 9.60002 0 12.1938 0 14.7813V17.2063C0 19.7938 0.31875 22.3875 0.31875 22.3875C0.31875 22.3875 0.63125 24.5938 1.5875 25.5625C2.80625 26.8375 4.40625 26.7938 5.11875 26.9313C7.68125 27.175 16 27.25 16 27.25C16 27.25 22.725 27.2375 27.2 26.9188C27.825 26.8438 29.1875 26.8375 30.4062 25.5625C31.3688 24.5938 31.6812 22.3875 31.6812 22.3875C31.6812 22.3875 32 19.8 32 17.2063V14.7813C32 12.1938 31.6812 9.60002 31.6812 9.60002ZM12.6938 20.15V11.1563L21.3375 15.6688L12.6938 20.15Z"
      fill="currentColor"/>
    </svg>
  </a></li>
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 1.5rem;
    color: var(--color-text_muted);
  }

  .icon:hover,
  .icon:focus {
    color: var(--color-primary);
  }
</style>